@font-face {
    font-family: BA;
    src: url(../../fonts/bruno-ace/Bruno\ Ace\ Regular.ttf);
  }

  @font-face {
    font-family: Inter;
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }

body {
    background-color: #0E1232;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Inter;
}

#top-panel {
    color: #D9D9D9;
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

#top-panel > div:first-child {
    font-size: 0.8rem;
    margin-left: 1.5rem;
    font-weight: 900;
}

#top-panel-right {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: 1.5rem;
}

#music {
    color: #D9D9D9;
    align-self: center;
    transition: .4s ease;
}

#music.playing {
    color: rgb(94, 94, 94);
}

#top-header {
    color: #8B30D2;
    font-family: BA;
    font-size: 2.175rem;
}

#layer-top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#layer-top > img {
    width: 14rem;
    margin-top: -2rem;
}


/* language toggle */
#lang {
	color: transparent;
	background-color: #3B25A8;
	border-radius: 14px;
	display: block;
	position: relative;
	text-indent: 100%;
	width: 3.2rem; height: 1.5rem;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	cursor: pointer;
	font-size: .01em;
	float: left;
}

#lang-toggle {
	display: none;
}

#lang span {
	background-color: #D9D9D9;
	border: 0px solid transparent;
	border-radius: 14px;
	content: "";
	display: block;
	position: absolute; top: 0.1rem; left: 0.2rem;
	width: 1.3rem; height: 1.3rem;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}

#ru {
  color: #D9D9D9;
  font-size: 0.7rem;
  font-weight: 900;
  position: absolute;
  top: 0.3rem;
  left: -0.5rem;
}

#en {
  color: #D9D9D9;
  font-size: 0.7rem;
  font-weight: 900;
  position: absolute;
  top: 0.3rem;
  left: 0.8rem;
}

#lang-toggle:checked + #lang {
	background-position: 0 0;
}

#lang-toggle:checked + #lang span {
	left: 1.7rem;
}


#layer-p2 {
  background-color: #1C2258;
  height: 6rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-top: -1rem;
  padding: 1.5rem;
  color: #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-weight: 900;
  font-size: 1rem;
}

.role {
  font-size: 0.8rem;
  font-weight: 900;
  color: #3FA0BF;
}

.marbles-num {
  font-size: 2.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.marbles-num > div {
  margin-top: -0.5rem;
}

.marbles-img {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.15rem;
  height: fit-content;
  width: 6.6rem;
  margin-left: auto;
}

.marble {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #D9D9D9;
  border-radius: 1rem;
  display: inline-block;
}

#layer-p1 {
  background-color: #0E1232;
  height: 4rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-top: -1rem;
  padding: 1.5rem;
  color: #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#layer-p1 .info .role {
  color: #AD3FBF;
}

#layer-bet {
  height: 10rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}


/* bet toggle */
#bet {
	color: transparent;
	background: linear-gradient(#38239F, #6D25A6);
	border-radius: 14px;
	display: block;
	position: relative;
	text-indent: 100%;
	width: 6rem; height: 1.6rem;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	cursor: pointer;
	font-size: .01em;
	float: left;
}

#bet-toggle {
	display: none;
}

#bet span {
	background-color: #D9D9D9;
	border: 0px solid transparent;
	border-radius: 14px;
	content: "";
	display: block;
	position: absolute; top: 0.15rem; left: 0.2rem;
	width: 1.3rem; height: 1.3rem;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}

#even {
  color: #D9D9D9;
  font-size: 0.8rem;
  font-weight: 900;
  position: absolute;
  top: 0.3rem;
  left: -4.5rem;
}

#odd {
  color: #D9D9D9;
  font-size: 0.8rem;
  font-weight: 900;
  position: absolute;
  top: 0.3rem;
  left: 5rem;
}

#bet-toggle:checked + #bet {
	background-position: 0 0;
}

#bet-toggle:checked + #bet span {
	left: 4.5rem;
}
