@font-face {
  font-family: SGL;
  src: url(../../fonts/spacegrotesk/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: SGM;
  src: url(../../fonts/spacegrotesk/SpaceGrotesk-Medium.otf);
}

@font-face {
  font-family: SGB;
  src: url(../../fonts/spacegrotesk/SpaceGrotesk-Bold.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Header styling*/
header {
  gap: 0.5rem;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid #292524;
  background-color: black;
  z-index: 999;
}

#company-header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0rem;
  font-family: SGB;
  color: white;
  text-decoration: none;
}

#company-header > img {
  width: 3rem;
  border-radius: 10rem;
}

#company-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#center-links {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

#center-links > a {
  text-decoration: none;
  font-family: SGL;
  font-size: 1.2rem;
  color: white;
  border-bottom: 1px solid black;
}

/*Hover effect start*/
#center-links > a {
  position: relative;
}

#center-links > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#center-links > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/*Hover effect end*/

#right-links {
  display: flex;
  gap: 0.5rem;
}

#right-links > a {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-family: SGM;
  background-color: #292524;
  color: #fafaf9;
}

#right-links > a:last-child {
  background-color: #fafaf9;
}

#right-links > a {
  text-decoration: none;
  color: #fafaf9;
  font-size: 1rem;
}

#right-links > a:last-child {
  color: black;
}

/*Header mobile styling*/
@media (max-width: 1200px) {
  header {
    padding: 0.5rem;
  }

  #company-header {
    font-size: 1rem;
  }

  #company-header > img {
    width: 2.5rem;
  }

  #center-links {
    display: none;
  }
}

/*Footer styling*/
footer {
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#footer-mobile {
  padding: 0.5rem;
  height: 2rem;
  color: #fafaf9;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  font-family: SGB;
  border-top: 1px solid #292524;
  z-index: 1;
}

#footer-mobile > a {
  text-decoration: none;
  background-color: black;
  color: #fafaf9;
  border: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SGL;
  width: 4rem;
  line-height: 0.8;
}

/*Footer wide-screen styling*/
@media (min-width: 1000px) {
  #footer-mobile {
    display: none;
  }
}

/*Content styling*/
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SGB;
  margin-bottom: 3rem;
}

.log-in > h1 {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: dashed;
  font-size: 2.2rem;
  margin: 0;
}

.log-in-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glow-button {
  color: white;
  text-decoration: none;
  width: 400px;
  height: 40px;
  border: 1px solid #292524;
  border-radius: 10px;
  background: #292524;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  font-family: SGM, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.glow-button:hover {
  box-shadow: 0 5px 15px rgba(213, 209, 215, 0.4);
}

.glow-button > img {
  width: auto;
  height: 25px;
}

.glow-button:first-child > img {
  height: 20px;
}

.glow-button:nth-child(2) > img {
  margin-right: 0.5rem;
}

#bottom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(50, 50, 50);
  width: 400px;
  margin-top: 10px;
  font-size: 1rem;
  align-self: center;
}

#bottom-link > div {
  color: darkgray;
  padding: 10px;
  font-family: SGL;
}

#bottom-link > a {
  color: white;
  font-weight: 400;
  font-family: SGL;
}

/*Content mobile styling*/
@media (max-width: 1000px) {
  .log-in {
    width: 100%;
    margin-top: -4rem;
  }

  .log-in > h1 {
    font-size: 1.8rem;
  }

  .glow-button {
    width: min(85vw, 400px);
  }

  #bottom-link {
    width: min(85vw, 400px);
  }
}
